.button {
    background-color: #83B925;
    margin: 1.4em;
    color: white;
    font-weight: 900;
    line-height: 1.1;
    padding: 0.5em 1.4em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6da016;
}

.button:disabled {
    background-color: #566e2f;
    cursor: not-allowed;
    opacity: 0.8;
}

.loading {
    position: relative;
}

.loading:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}