*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: inherit;
    line-height: 1.3;
}

body{
    background-color: #161618;
}

header,
footer{
    color: whitesmoke;
}


a, span{
    margin: 0em;
    text-decoration: none;
    color: inherit;
}

input, textarea{
    background: whitesmoke;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 1.6em;
    border-radius: 0.3em;    
    border: none;
    outline: none;
    width: 16em;
}


